.searchBox {
    margin-bottom: 20px;
}

.searchBox label {
    display: flex;
    flex-direction: column;
    font-weight: bold;
}

.searchBox input {
    padding: 8px;
    font-size: 16px;
    margin-top: 5px;
}