/* ContactForm.module.css */
.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* Центрує форму по горизонталі */
    margin-bottom: 20px;
    padding: 20px;
    gap: 10px;
    background-color: #8ac932;
    /* Додає легкий фон */
    border-radius: 5px;
}

.input {
    padding: 10px;
    font-size: 1rem;
    width: 100%;
    /* Робить поля вводу гнучкими */
    max-width: 400px;
    /* Задає максимальну ширину */
    border: 1px solid #ccc;
    border-radius: 5px;
}

.button {
    padding: 10px 20px;
    font-size: 1rem;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    width: 100%;
    /* Робить кнопку гнучкою */
    max-width: 400px;
    /* Задає максимальну ширину */
}

.button:hover {
    background-color: #45a049;
}